@font-face {
  font-family: PT Sans;
  src:
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PT Sans;
  src:
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --dark: #333333;
  --dark-gray: #666666;
  --blue: #81B3D2;
  --dark-blue: #669EC0;
  --extra-dark-blue: #5496BD;
  --extra-light-gray: #EEEEEE;
  --light-gray: #F2F2F2;
  --gray: #CACACA;
  --gray-for-line: #E5E5E5;
  --hover-gray: #EBEBEB;
  --brown: #766357;
  --dark-brown: #604E43;
  --extra-dark-brown: #503E33;
}

.page {
  height: 100%;
}

body {
  /*min-width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;*/
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--white);
}

.main-header {
  width: 1200px;
  display: grid;
  outline: 5px solid greenyellow;
}
.main-container {
  outline: 5px solid blueviolet;
}
.footer {
  width: 1200px;
  outline: 5px solid red;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 120px;
}
.logo {
  justify-self: center;
}
.greeting {
  background-image: url("../img/index.jpg");
  margin-bottom: 43px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link{
  text-decoration: none;
  color: inherit;
}
.navigation-link {
  text-decoration: none;
  color: var(--brown);
}
.navigation-link[href] {
  color: var(--black);
}
.navigation-link[href]:hover {
  color: var(--blue);
}
.navigation-link[href]:focus {
  opacity: 0.3;
}

.caption {
  text-align: center;
  font-size: 21px;
  margin-bottom: 17px;
  padding: 0;
  margin: 0;
}
.hidden-name {
  display: none;
}
.five-advantage {
  text-align: center;
  font-weight: 400;
  color: var(--dark);
  padding: 0;
  margin: 0;
  margin-bottom: 51px;
}
.reason-list {
  list-style: none;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 300px 256px 256px;
  margin: 0;
  padding: 0;
}
.real-city {
  grid-column: 1/2;
  grid-row:1/2;
}
.photo-Sedona-item {
  grid-column: 2/4;
  grid-row: 1/2;
}
.home {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
}
.food {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
}
.gift {
  grid-column: 3/4;
  grid-row: 2/3;
  text-align: center;
}
.photo-Canyon-item {
  grid-column: 1/3;
  grid-row: 3/4;
}
.devil-bridge {
  grid-column: 3/4;
  grid-row: 3/4;
}
.special-left {
  grid-column: 1/2;
  grid-row: 4/5;
}
.special-center {
  grid-column: 2/3;
  grid-row: 4/5;
}
.special-right {
  grid-column: 3/4;
  grid-row: 4/5;
}
.photo-Sedona,
.photo-Canyon {
  padding: 0;
  margin: 0;
}
.reason-gallery {
  font-size: 21px;
  line-height: 21px;
  color: var(--white);
  padding: 0;
  margin: 0;
}
.reason-description-gallery {
  line-height: 21px;
  font-weight: 400;
  color: var(--white);
  padding: 0;
  margin: 0;
}
.reason {
  font-size: 21px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}
.reason-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--dark);
  padding: 0;
  margin: 0;
}
.special {
  background-color: var(--extra-light-gray);
  text-align: center;
}
.necessary {
  font-size: 21px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}
.necessary-description {
  line-height: 21px;
  font-weight: 400;
  color: var(--dark);
  padding: 0;
  margin: 0;
}
.box {
  background-color: var(--blue);
  height: 256px;
  text-align: center;
}
.reserve {
  display: grid;
  padding-top: 58px;
}
.interest {
  font-size: 30px;
  line-height: 24px;
  justify-self: center;
  padding: 0;
  margin: 0;
}
.text {
  line-height: 24px;
  justify-self: center;
  text-align: center;
  padding: 0;
  margin: 0;
  /*font-size: 30px;
  font-weight: ;
  color: var();
  */
}
.search {
  width: 568px;
  height: 86px;
  text-align: center;
  font-size: 21px;
  color: var(--white);
  background-color: var(--brown);
  text-transform: uppercase;
  border: none;
  justify-self: center;
}
.search:hover {
  background-color: var(--dark-brown);
}
.search:focus {
  background-color: var(--extra-dark-brown);
}
.form {
  width: 568px;
  height: 395px;
  justify-self: center;
}
.date {
  width: 346px;
  height: 38px;
  background-color: var(--light-gray);
  background-image: url("../img/icon/calendar.svg");
  background-position: 316px center;
  background-repeat: no-repeat;

}
.visitor {
  width: 114px;
  height: 38px;
  background-color: var(--light-gray);
}

.input {
  border: none;
}

.input:hover {
  background-color: var(--hover-gray);
}

.input:focus {
  background-color: var(--white);
}

.find {
  width: 458px;
  height: 58px;
  text-align: center;
  font-size: 21px;
  color: var(--white);
  background-color: var(--blue);
  border: none;
}
.find:hover {
  background-color: var(--dark-blue);
}
.find:focus {
  background-color: var(--extra-dark-blue);
}
.map {
  width: 1199px;
  height: 594px;
}
.contacts {
  outline: 5px solid yellow;
  width: 200px;
  grid-column: 1/2;
  justify-self: center;
}
.socials {
  outline: 5px solid yellowgreen;
  grid-column: 2/3;
  justify-self: center;
}
.site {
  outline: 5px solid pink;
  grid-column: 3/4;
  justify-self: center;
}
.hashtag {
  font-size: 21px;
  margin: 0;
  padding: 0;
}
.filter-list,
.social-list,
.housing-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link-social {
  width: 46px;
  height: 48px;
  background-color: var(--blue);
  text-align: center;
}
.link-social:hover {
  background-color: var(--dark-blue);
}
.link-social:focus {
  background-color: var(--extra-dark-blue);
}
.tel,
.result,
.housing-name {
  font-size: 21px;
}
.website {
  font-weight: 400;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
.main {
  outline: 5px solid blueviolet;
}
.filters {
  width: 1200px;
  background-image: url("../img/filter-background.jpg");
  background-size: cover;
}
.filter-form {
  display: grid;
  grid-template-columns: 200px 400px 600px;
  grid-template-rows: 149px 68px;
}
.infrastructure-field {
  outline: 5px solid royalblue;
  grid-column: 1/2;
  grid-row: 1/3;
  margin-left: 73px;
  margin-top: 27px;
  border: none;
}
.type-house-field{
  outline: 5px solid goldenrod;
  grid-column: 2/3;
  grid-row: 1/3;
  justify-self: center;
  margin-top: 27px;
  border: none;
}
.cost-field {
  outline: 5px solid forestgreen;
  width: 317px;
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: end;
  margin-right: 73px;
  margin-top: 27px;
  border: none;
}
.view {
  text-transform: uppercase;
  width: 137px;
  height: 36px;
  border: 2px solid var(--white);
  background: transparent;
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: end;
  margin-right: 168px;
  margin-bottom: 40px;
}
.current-page {
  color: var(--brown);
}
.parameter {
  font-size: 16px;
  line-height: 21px;
  color: var(--white);
}
.sort-box {
  outline: 5px solid orange;
  width: 1200px;
  padding: 29px 73px 31px;
}
.filter-item {
  margin-right: 32px;
}
.result,
.sort,
.filter-list,
.filter-item {
  display: inline-block;
}
.option,
.view {
  line-height: 21px;
  font-weight: 400;
  color: var(--white);
}
.result,
.sort,
.wrap,
.rating {
  margin: 0;
  padding: 0;
}
.result{
  margin-right: 46px;
}
.sort {
  margin-right: 40px;
}
.sorting-link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
}
.sorting-link:hover {
  color: var(--blue);
  border-bottom: 1px dashed var(--blue);
}
.sorting-link:focus {
  color: var(--black);
  border-bottom: none;

}
.active {
  color: var(--blue);
}
.inactive {
  border-bottom: 1px dashed var(--blue);
  opacity: 0.3;
}
.inactive:hover {
  opacity: 1;
}
.search-results {
  width: 1200px;
}
.housing-list {
  display: grid;
  grid-template-columns: 113px 1fr 113px;
  grid-template-rows: 1fr 1fr 1fr;
}
.housing-item-1 {
 grid-column: 2/3;
 grid-row: 1/2;
 padding: 30px 0px;
 outline: 5px solid teal;
}
.housing-item-2 {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 30px 0px;
  outline: 5px solid lightcoral;
 }
 .housing-item-3 {
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 30px 0px;
  outline: 5px solid plum;
 }
.title-housing {
  margin: 0;
  padding: 0;
}
.housing-name:hover {
  color: var(--blue);
}
.housing-name:focus {
  opacity: 0.3;
}
.housing-parametres {
  line-height: 21px;
  font-weight: 400;
  color: var(--dark);
  margin: 0;
  padding: 0;
}
.details {
  width: 110px;
  height: 27px;
  text-align: center;
  line-height: 21px;
  color: var(--white);
  background-color: var(--blue);
  border: none;
}
.details:hover {
  background-color: var(--dark-blue);
}
.details:focus {
  background-color: var(--extra-dark-blue);
}
.book {
  width: 142px;
  height: 27px;
  text-align: center;
  line-height: 21px;
  color: var(--white);
  background-color: var(--brown);
  border: none;
}
.book:hover {
  background-color: var(--dark-brown);
}
.book:focus {
  background-color: var(--extra-dark-brown);
}
.rating {
  width: 110px;
  height: 27px;
  line-height: 21px;
  text-align: center;
  color: var(--dark-gray);
  background-color: var(--light-gray);
}
