@font-face {
  font-family: PT Sans;
  src:
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PT Sans;
  src:
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --dark: #333333;
  --dark-gray: #666666;
  --blue: #81B3D2;
  --dark-blue: #669EC0;
  --extra-dark-blue: #5496BD;
  --extra-light-gray: #EEEEEE;
  --light-gray: #F2F2F2;
  --gray: #CACACA;
  --gray-for-line: #E5E5E5;
  --gray-for-elements: #A9A9A9;
  --focus-gray: #BDBBBC;
  --hover-gray: #EBEBEB;
  --toggle-gray: #ABABAB;
  --brown: #766357;
  --dark-brown: #604E43;
  --extra-dark-brown: #503E33;
}

.page {
  height: 100%;
}

body {
  /*
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  padding: 0;*/
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.main-header {
  display: flex;
  flex-direction: column;
  padding: 0 72px;
   
}

.logo {
  align-self: center;
  margin-bottom: -55px;
  position: absolute;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}
.link{
  text-decoration: none;
  color: inherit;
}
.navigation-link {
  text-decoration: none;
  color: var(--brown);
}
.navigation-item:nth-child(2) {
  margin-right: 133px;
}
.navigation-item:nth-child(3) {
  margin-left: 147px;
}
.navigation-link[href] {
  color: var(--black);
}
.navigation-link[href]:hover {
  color: var(--blue);
}
.navigation-link[href]:focus {
  opacity: 0.3;
}

.greeting-container {
  width: 100%;
  height: 432px;
  background-image: url("../img/mask.svg"), url("../img/index.jpg");
  background-size: 100% 57px, cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
  margin-bottom: 43px;
  padding-top: 77px;
}
.greeting {
  display: block;
  margin: 0 auto 81px auto;
}


.caption {
  height: 80px;
  text-align: center;
  font-size: 21px;
  margin-bottom: 17px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.five-advantage {
  text-align: center;
  font-weight: 400;
  color: var(--dark);
  padding: 0;
  margin: 0;
  margin-bottom: 51px;
}
.reason-list {
  list-style: none;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 300px 256px 256px;
  margin: 0;
  padding: 0;
}
.real-city {
  grid-column: 1/2;
  grid-row:1/2;
}
.photo-Sedona-item {
  grid-column: 2/4;
  grid-row: 1/2;
}
.home {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
}
.food {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
}
.gift {
  grid-column: 3/4;
  grid-row: 2/3;
  text-align: center;
}
.photo-Canyon-item {
  grid-column: 1/3;
  grid-row: 3/4;
}
.devil-bridge {
  grid-column: 3/4;
  grid-row: 3/4;
}
.special-left {
  grid-column: 1/2;
  grid-row: 4/5;
  padding: 0 96px;
}
.special-center {
  grid-column: 2/3;
  grid-row: 4/5;
  padding: 0 71px;
}
.special-right {
  grid-column: 3/4;
  grid-row: 4/5;
  padding: 0 77px;
}
.photo-Sedona,
.photo-Canyon {
  padding: 0;
  margin: 0;
}
.reason-gallery {
  font-size: 21px;
  line-height: 21px;
  color: var(--white);
  padding: 0;
  margin: 0;
  margin-top: 47px;
  margin-bottom: 69px;
  position: relative;
}
.real-city .reason-gallery::after {
  content: "— №1 —";
  position: absolute;
  width: 51px; 
  height: 21px;
  top: 68px;
  left: 175px;
  line-height: 21px;
  font-weight: 400;
  font-size: 14px;
}
.devil-bridge .reason-gallery::after {
  content: "— №2 —";
  position: absolute;
  width: 51px; 
  height: 21px;
  top: 68px;
  left: 175px;
  line-height: 21px;
  font-weight: 400;
  font-size: 14px;
}
.special-left .reason::after {
  content: "— №3 —";
  position: absolute;
  width: 51px; 
  height: 21px;
  top: 68px;
  left: 79px;
  line-height: 21px;
  font-weight: 400;
  font-size: 14px;
}
.special-center .reason::after {
  content: "— №4 —";
  position: absolute;
  width: 51px; 
  height: 21px;
  top: 68px;
  left: 104px;
  line-height: 21px;
  font-weight: 400;
  font-size: 14px;
}
.special-right .reason::after {
  content: "— №5 —";
  position: absolute;
  width: 51px; 
  height: 21px;
  top: 68px;
  left: 98px;
  line-height: 21px;
  font-weight: 400;
  font-size: 14px;
}
.reason-description-gallery {
  line-height: 21px;
  font-weight: 400;
  color: var(--white);
  padding: 0;
  margin: 0 40px ;
  
}
.reason {
  font-size: 21px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  margin-top: 47px;
  margin-bottom: 69px;
  position: relative;
}
.reason-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--dark);
  padding: 0;
  margin: 0;
}
.special {
  background-color: var(--extra-light-gray);
  text-align: center;
}
.necessary {
  font-size: 21px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  margin-top: 160px;
  margin-bottom: 25px;
  position: relative;
}
.home .necessary::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  top: -100px;
  background-image: url("../img/icon/icon-home.svg");
  background-repeat: no-repeat;
}
.food .necessary::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 70px;
  top: -99px;
  left: 163px;
  background-image: url("../img/icon/icon-food.svg");
  background-repeat: no-repeat;
}
.gift .necessary::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 77px;
  top: -105px;
  left: 168px;
  background-image: url("../img/icon/icon-gift.svg");
  background-repeat: no-repeat;
}
.necessary-description {
  line-height: 21px;
  font-weight: 400;
  color: var(--dark);
  padding: 0;
  margin: 0;
}
.box {
  background-color: var(--blue);
  height: 256px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
}
.interest {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
}
.text {
  width: 435px;
  height: 95px;
  line-height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 400;
}
.search {
  width: 568px;
  height: 86px;
  text-align: center;
  font-size: 21px;
  color: var(--white);
  background-color: var(--brown);
  text-transform: uppercase;
  border: none;
  padding: 0;

}
.search:hover {
  background-color: var(--dark-brown);
}
.search:focus {
  background-color: var(--extra-dark-brown);
}
.form {
  width: 458px;
  height: 340px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 55px 55px 0 55px;
}
.form-labels {
  width: 100px;
  line-height: 40px;
}
.form-labels[for="children"] {
  width: 47px;
  margin-left: 43px;
}

.date-check-in,
.date-check-out {
  width: 334px;
  height: 38px;
  background-color: var(--light-gray);
}
.input {
  border: none;
}
.input[type=text] {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
}
.date-check-in[type=text],
.date-check-out[type=text] {
  padding: 0;
  padding-left: 13px;
}
.visitor[type=text] {
  text-align: center;
  width: 44px;
  height: 38px;
  background-color: var(--light-gray);
  padding: 0 35px;
}
.input:hover {
  background-color: var(--hover-gray);
}

.input:focus {
  background-color: var(--white);
}
.input-date-container {
  width: 346px;
  height: 38px;
  position: relative;
}
.calendar-in {
  width: 21px;
  height: 23px;
  position: absolute;
  top: 7px;
  right: 7px;
}
.calendar-out {
  width: 21px;
  height: 23px;
  position: absolute;
  top: 7px;
  right: 7px;
}
.input-visitor-container {
  width: 114px;
  height: 38px;
  position: relative;
}
.reduce-adult-container,
.reduce-children-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 35px;
  height: 38px;
  border: none;
  background-color: transparent;
}
.reduce-adult,
.reduce-children {
  width: 12px;
  height: 3px;
  background-color: var(--gray-for-elements);
}
.add-adult-container,
.add-children-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 35px;
  height: 38px;
  border: none;
  background-color: transparent;
}
.reduce-adult,
.reduce-children,
.add-adult,
.add-children {
  vertical-align:middle
}

.input-date-container:hover svg path,
.add-adult-container:hover svg path,
.reduce-adult-container:hover svg rect,
.add-children-container:hover svg path,
.reduce-children-container:hover svg rect{
  fill: var(--black)
}

.input-date-container:active svg path,
.add-adult-container:active svg path,
.reduce-adult-container:active svg rect,
.add-children-container:active svg path,
.reduce-children-container:active svg rect{
  fill: var(--blue)
}

.find {
  width: 458px;
  height: 58px;
  text-align: center;
  font-size: 21px;
  color: var(--white);
  background-color: var(--blue);
  border: none;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 55px;
}
.find:hover {
  background-color: var(--dark-blue);
}
.find:focus {
  background-color: var(--extra-dark-blue);
}
.map {
  width: 1199px;
  height: 594px;
  margin-bottom: -120px;
}

.footer {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 120px;
  background-color: var(--white);
  opacity: 0.9;
}
.contacts {
  width: 200px;
  grid-column: 1/2;
  justify-self: center;
  margin-top: 23px;
  text-align: center;
}
.socials {
  grid-column: 2/3;
  justify-self: center;
  margin-top: 36px;
}
.social-list {
  width: 250px;
  display: flex;
  justify-content: center;
}
.site {
  grid-column: 3/4;
  justify-self: center;
  display: flex;
  margin-top: 43px;
}
.logo-htmlacademy {
  height: 34px;
}
.logo-htmlacademy:hover svg path{
fill: var(--blue)
}
.logo-htmlacademy:focus svg path{
  fill: var(--focus-gray)
  }
.hashtag {
  font-size: 21px;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
}
.filter-list,
.filter-sorting-list,
.social-list,
.housing-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link-social {
  width: 46px;
  height: 48px;
  display: inline-block;
  background-color: var(--blue);
  text-align: center;
  display: flex;
  margin-right: 6px;
}
.link-social:hover {
  background-color: var(--dark-blue);
}
.link-social:focus {
  background-color: var(--extra-dark-blue);
}
.icon-social {
  margin: auto;
}
.tel,
.result,
.housing-name {
  font-size: 21px;
}
.website {
  font-weight: 400;
  font-size: inherit;
  margin: 0;
  padding: 0;
  margin-right: 15px;
}

.filters {
  width: 1054px;
  background-image: url("../img/filter-background.jpg");
  background-size: cover;
  padding: 27px 73px 31px 73px;
}
.filter-form {
  display: grid;
  grid-template-columns: 253px 485px 1fr;
}
.infrastructure-field {
  grid-column: 1/2;
  border: none;
  padding: 0;
}
.type-house-field{
  grid-column: 2/3;
  border: none;
  padding: 0;
}
.cost-field {
  width: 317px;
  grid-column: 3/4;
  border: none;
  padding: 0;
  margin: 0;
}
.range-filter {
  width: 317px;
}
.range-controls {
  width: 316px;
  height: 21px;
  position: relative;
}
.range-controls .scale {
  width: 316px;
  height: 2px;
  background-color: var(--white);
  opacity: 0.3;
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: var(--white);
  opacity: 1;
}
.range-controls .toggle {
  width: 4px;
  height: 4px;
  background-color: var(--toggle-gray);
  border: 8px solid var(--white);
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -9px;
  left: 0;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 0;
  border: 8px solid var(--white);
}
.range-controls .toggle-max {
  left: 80%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
  0 0 0 1px var(--black);
}
.range-controls .toggle:active {
  transform: scale(1.2);
}
.price-controls {
  width: 317px;
  height: 36px;
  display: flex;
  margin-bottom: 20px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  position: relative;
   
}
.input-min-price,
.input-max-price {
font-family: PT Sans;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: var(--white);
text-align: center;
}
.input-min-price:focus,
.input-max-price:focus {
  outline: none;
}
.price-controls .input-min-price,
.price-controls .input-max-price {
  width: 99px;
  height: 36px;
  background: transparent;
  margin:0;
  padding: 0;
  border: none;
}
.min-price,
.max-price {
  margin: 0 30px;
}
.max-price::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: var(--white);
  bottom: 7px;
  left: 159px;
}
.view {
  text-transform: uppercase;
  width: 137px;
  height: 36px;
  border: 2px solid var(--white);
  background: transparent;
  margin: 33px 95px 0 84px; 
  padding: 0;
}
.current-page {
  color: var(--brown);
}
.filter-list {
  margin-left: 40px;
}
.parameter {
  font-size: 16px;
  line-height: 21px;
  color: var(--white);
  margin-bottom: 24px;
}
.parameter-item {
  margin-bottom: 25px;
}
.parameter-item label {
  position: relative;
  display: block;
  user-select: none;
}
.check + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/icon/checkbox-off.svg");
  background-repeat: no-repeat;
  top: 0;
  left: -39px;
}
.check:disabled + label::before {
  background-image: url("../img/icon/checkbox-off-disabled.svg");
}
.check:checked + label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url("../img/icon/checkbox-on.svg");
  background-repeat: no-repeat;
  top: 0;
  left: -40px;
}
.check:checked:disabled + label::before {
  background-image: url("../img/icon/checkbox-on-disabled.svg");
}
.cost-field .parameter {
  margin-bottom: 17px;
}
.sort-box {
  padding: 29px 73px 31px;
  border-bottom: 1px solid var(--gray-for-line);
  display: flex;
}
.filter-sorting-list {
  display: flex;
}
.filter-item {
  margin-right: 32px;
}
.filter {
  width: 11px;
  height: 10px;
}
.filter:nth-last-child(2) {
  margin: auto 12px auto auto;
}
.filter:last-child {
  margin: auto 0;
}
.active-filter svg path {
  fill: var(--blue)
}
.filter:hover svg path {
  fill: var(--black)
}
.filter:active svg path {
  fill: var(--blue)
}
.option,
.view {
  line-height: 21px;
  font-weight: 400;
  color: var(--white);
}
.result,
.sort,
.wrap,
.rating {
  margin: 0;
  padding: 0;
}
.result{
  margin-right: 46px;
}
.sort {
  margin-right: 40px;
}
.sorting-link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
}
.sorting-link:hover {
  color: var(--blue);
  border-bottom: 1px dashed var(--blue);
}
.sorting-link:focus {
  color: var(--black);
  border-bottom: none;

}
.active {
  color: var(--blue);
}
.inactive {
  border-bottom: 1px dashed var(--blue);
  opacity: 0.3;
}
.inactive:hover {
  opacity: 1;
}
.housing-item {
  display: grid;
  grid-template-columns: 165px auto 1fr min-content;
  grid-template-rows: auto auto auto;
  border-bottom: 1px solid var(--gray-for-line);
  padding: 30px 73px;
}

.photo {
  grid-column: 1/2;
  grid-row: 1/4;
}

.title-housing {
  margin: 0;
  padding: 0;
  grid-column: 2/4;
  grid-row: 1/2;
  margin-bottom: 7px;
}
.housing-parametres,
.housing-cost-parametres {
  line-height: 21px;
  font-weight: 400;
  color: var(--dark);
  margin: 0;
  padding: 0;
}
.housing-parametres {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-right: 6px;
  margin-bottom: 18px;
}
.housing-cost-parametres {
  grid-column: 3/4;
  grid-row: 2/3;
  margin-bottom: 18px;
}
.housing-name:hover {
  color: var(--blue);
}
.housing-name:focus {
  opacity: 0.3;
}
.details {
  width: 110px;
  height: 27px;
  text-align: center;
  line-height: 21px;
  color: var(--white);
  background-color: var(--blue);
  border: none;
  grid-column: 2/3;
  grid-row: 3/4;
  margin-right: 6px;
}
.details:hover {
  background-color: var(--dark-blue);
}
.details:focus {
  background-color: var(--extra-dark-blue);
}
.book {
  width: 142px;
  height: 27px;
  text-align: center;
  line-height: 21px;
  color: var(--white);
  background-color: var(--brown);
  border: none;
  grid-column: 3/4;
  grid-row: 3/4;
}
.book:hover {
  background-color: var(--dark-brown);
}
.book:focus {
  background-color: var(--extra-dark-brown);
}
.grade {
  grid-column: 4/5;
  grid-row: 1/2;
  margin: 0;
  padding: 0;
  background-image: url("../img/icon/star.svg");
  height: 17px;
  margin-left: auto;
}
.one-stars {
  width: 23px;
}
.two-stars {
  width: 46px;
}
.three-stars {
  width: 69px;
}
.four-stars {
  width: 92px;
}
.five-stars {
  width: 115px;
}

.rating {
  width: 110px;
  height: 27px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  color: var(--dark-gray);
  background-color: var(--light-gray);
  grid-column: 4/5;
  grid-row: 3/4;
  
}
